
<div id="wrapper">
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
      <a class="navbar-brand" href="#">AQA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav side-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">SEARCH
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EDIT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DELETE</a>
          </li>
          
          <li class="nav-item">
            <h3 class="text-center"><font color="white">ADMIN</font></h3>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADD EDITOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADD ADMIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DELETE EDITOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DELETE ADMIN</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
          
          <li class="nav-item">
            <a class="nav-link" href="#">LOGOUT
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
            <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title text-center">15</h1>
              <h3 class="card-subtitle mb-2 text-muted text-center">GOOD</h3>
              <p class="card-text text-center">BRUNEI MUARA</p>
              <div class="text-center">
              <a href="http://websitedesigntamilnadu.com" class="card-link">EDIT</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title text-center">11</h1>
              <h3 class="card-subtitle mb-2 text-muted text-center">GOOD</h3>
              <p class="card-text text-center">TUTONG</p>
              <div class="text-center">
              <a href="http://websitedesigntamilnadu.com" class="card-link">EDIT</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title text-center">11</h1>
              <h3 class="card-subtitle mb-2 text-muted text-center">GOOD</h3>
              <p class="card-text text-center">BELAIT</p>
              <div class="text-center">
              <a href="http://websitedesigntamilnadu.com" class="card-link">EDIT</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title text-center">14</h1>
              <h3 class="card-subtitle mb-2 text-muted text-center">GOOD</h3>
              <p class="card-text text-center">TEMBURONG</p>
              <div class="text-center">
              
              <a href="http://websitedesigntamilnadu.com" class="card-link">EDIT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="panel panel-primary">
              <h2><div class="panel-heading text-center">INSERT TODAY'S READING</div></h2>
              <form>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col-sm">DISTRICT</th>
                    <th scope="col-sm">PSI</th>
                    <th scope="col-sm">QUALITY INDEX</th>
                    <th scope="col-sm">DATE</th>
                    <th scope="col-md">COMMENTS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>BRUNEI MUARA</td>
                    <td><input type="number" id="PSI_Value" class="form-control-sm" placeholder="PSI Value"></td>
                    <td><select class="form-control-sm" id="sel1">
                      <option>GOOD</option>
                      <option>MODERATE</option>
                      <option>UNHEALTHY FOR SENSITIVE</option>
                      <option>UNHEALTHY</option>
                      <option>VERY UNHEALTHY</option>
                      <option>HAZARDOUS</option>
                    </select></td>
                    <td><input type="date" class="form-control-sm" name="recorded_on"></td>
                    <td><input type="text" class="form-control" id="comments"></td>
                  </tr>
                  <tr>
                    <td>TUTONG</td>
                    <td><input type="number" id="PSI_Value" class="form-control-sm" placeholder="PSI Value"></td>
                    <td><select class="form-control-sm" id="sel1">
                      <option>GOOD</option>
                      <option>MODERATE</option>
                      <option>UNHEALTHY FOR SENSITIVE</option>
                      <option>UNHEALTHY</option>
                      <option>VERY UNHEALTHY</option>
                      <option>HAZARDOUS</option>
                    </select></td>
                    <td><input type="date" class="form-control-sm" name="recorded_on"></td>
                    <td><input type="text" class="form-control" id="comments"></td>
                  </tr>
                  <tr>
                    <td>BELAIT</td>
                    <td><input type="number" id="PSI_Value" class="form-control-sm" placeholder="PSI Value"></td>
                    <td><select class="form-control-sm" id="sel1">
                      <option>GOOD</option>
                      <option>MODERATE</option>
                      <option>UNHEALTHY FOR SENSITIVE</option>
                      <option>UNHEALTHY</option>
                      <option>VERY UNHEALTHY</option>
                      <option>HAZARDOUS</option>
                    </select></td>
                    <td><input type="date" class="form-control-sm" name="recorded_on"></td>
                    <td><input type="text" class="form-control" id="comments"></td>
                  </tr>
                  <tr>
                    <td>TEMBURONG</td>
                    <td><input type="number" id="PSI_Value" class="form-control-sm" placeholder="PSI Value"></td>
                    <td><select class="form-control-sm" id="sel1">
                      <option>GOOD</option>
                      <option>MODERATE</option>
                      <option>UNHEALTHY FOR SENSITIVE</option>
                      <option>UNHEALTHY</option>
                      <option>VERY UNHEALTHY</option>
                      <option>HAZARDOUS</option>
                    </select></td>
                    <td><input type="date" class="form-control-sm" name="recorded_on"></td>
                    <td><input type="text" class="form-control" id="comments"></td>
                  </tr>
                </tbody>
              </table>
<input type="submit" class="btn btn-secondary btn-sm text-center" value="SUBMIT">
            </form>
            </div>
         
          </div>
      </div>
      
    </div>
  </div>