<div class="container">
  <div class="row" style="  margin-top:   100px;" >
    <div class="col" *ngFor="let item of data_aq">
      <div class="weather-card one"  >
        <div class="top">
          <div class="wrapper">
            
            <h1 class="heading">{{item.District}}</h1>
            <h3 class="location">GOOD</h3>
            <p class="temp">
              <span class="temp-value">{{item.Value}}</span>
              <span class="deg"></span>
              <a href="javascript:;"><span class="temp-type"></span></a>
            </p>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">
            <ul class="forecast">
              <li class="active">
                <span class="date">Yesterday</span>
                <span class="condition">
                  <span class="temp">10<span class="deg"></span><span class="temp-type"></span></span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="weather-card rain">
        <div class="top">
          <div class="wrapper">
            <h1 class="heading">TUTONG</h1>
            <h3 class="location">GOOD</h3>
            <p class="temp">

              <span class="temp-value">11</span>
              <span class="deg"></span>
              <a href="javascript:;"><span class="temp-type"></span></a>
            </p>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">
            <ul class="forecast">
              <
              <li class="active">
                <span class="date">Yesterday</span>
                <span class="condition">
                  <span class="temp">22<span class="deg"></span><span class="temp-type"></span></span>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="weather-card one">
        <div class="top" id="belait">
          <div class="wrapper">
            <h1 class="heading">BELAIT</h1>
            <h3 class="location">GOOD</h3>
            <p class="temp">
              <span class="temp-value">10</span>
              <span class="deg"></span>
              <a href="javascript:;"><span class="temp-type"></span></a>
            </p>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">
            <ul class="forecast">
              <li class="active">
                <span class="date">Yesterday</span>
                <span class="condition">
                  <span class="temp">23<span class="deg"></span><span class="temp-type"></span></span>
                </span>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
        <div class="col">
      <div class="weather-card one">
        <div class="top" id="temburong">
          <div class="wrapper">
            <h1 class="heading">TEMBURONG</h1>
            <h3 class="location">GOOD</h3>
            <p class="temp">
              <span class="temp-value">10</span>
              <span class="deg"></span>
              <a href="javascript:;"><span class="temp-type"></span></a>
            </p>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">
            <ul class="forecast">
              <li class="active">
                <span class="date">Yesterday</span>
                <span class="condition">
                  <span class="temp">10<span class="deg"></span><span class="temp-type"></span></span>
                </span>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>