body {
  padding-top: 50px;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  padding-left: 0; padding-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  
  .list-group-item {
    /*background: transparent;
    /*border-color: #f4645f;
    border: 0; border-bottom: 1px solid #666;
    color: #f2f2f2;*/
    border-radius: 0;
    &.active {
      /*background: #f4645f;*/
    }
    .badge {
      margin-top: 3px;
    }
  }
  
  .nav-link {
    color: #f2f2f2;
    border-radius: 0;
    
    &.active {
      background-color: #f4645f;
    }
  }
  
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f2f2f2;
  }
  
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

  .nav {
    margin-bottom: 20px;
  }

  .nav-item {
    width: 100%;
  }

  .nav-item + .nav-item {
    margin-left: 0;
  }
}
