
<div id="wrapper">
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
      <a class="navbar-brand" href="#">AQA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav side-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">SEARCH
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EDIT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DELETE</a>
          </li>
          
          <li class="nav-item">
            <h3 class="text-center"><font color="white">ADMIN</font></h3>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADD EDITOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ADD ADMIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DELETE EDITOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DELETE ADMIN</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
          
          <li class="nav-item">
            <a class="nav-link" href="#">LOGOUT
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
            <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">From Date:</label>
    <input type="datetime-local" class="form-control" id="exampleFormControlInput1" placeholder="From..">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">To Date:</label>
    <input type="datetime-local" class="form-control" id="exampleFormControlInput1" placeholder="To..">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">District</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Brunei Muara</option>
      <option>Tutong</option>
      <option>Belait</option>
      <option>Temburong</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Recording: </label>
    <select class="form-control-sm" id="sel1">
    				  <option>ANY</option>
                      <option>GOOD</option>
                      <option>MODERATE</option>
                      <option>UNHEALTHY FOR SENSITIVE</option>
                      <option>UNHEALTHY</option>
                      <option>VERY UNHEALTHY</option>
                      <option>HAZARDOUS</option>
                    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <input type="submit" name="submit" class="text-center">
</form>
            </div>
         
          </div>
      </div>
      
    </div>
  
